
* *, *::after, *::before {
    box-sizing: border-box;
    text-align: center;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  .container{ 
    margin: 0 auto;
    margin-top: 1px;
    width: 960px;
    font-family: Arial,'Helvetica Neue',Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    
  }
  
  header {
    background-color: #ebebeb;
    height: 80px;
    padding: 10px;
    margin: 8px;
    width: 900px;
    line-height: 60px;
    
  }

  nav {
    background-color: #ebebeb;
    height: 80px;
    padding: 10px;
    margin: 8px;
    width: 900px;
    line-height: 60px;
  }
  
  main {
    position: relative;
    float: left;
  background-color: #ebebeb;
  width: 495px;
  Margin:10px;
  height: 320px;
  padding: 10px;
  line-height: 60px;
  }
  aside {
      float: left;
    background-color: #ebebeb;
    width: 382px;
    height: 320px;
    margin: 10px;
    padding: 10px;
    line-height: 60px;
  }

  main2 {
    position: absolute;
    background-color: grey;
    width: 470px;
    height:220px;
    left:230px;
    top: 280px;
    padding: 10px;
    line-height: 60px;
    Color: #ebebeb;

  }
  main3 {
    position: absolute;
    background-color: #ebebeb;
    width: 430px;
    height:60px;
    left:250px;
    top: 340px;
    padding: 10px;
    line-height: 40px;
    Color: #777;
  }

  main4 {
    position: absolute;
    background-color: #ebebeb;
    width: 430px;
    height:60px;
    left:250px;
    top: 410px;
    padding: 10px;
    line-height: 40px;
    Color: #777;
  }

  footer {
    background-color: #ebebeb;
    width: 900px;
    height: 80px;
    margin: 8px;
    padding: 10px;
    line-height: 60px;
  }
  
  